<h1>Create Offer</h1>

<alert ng-repeat="alert in alerts" type="'danger'" close="closeAlert($index)">Error creating offer.</alert>

<form novalidate role="form" name="form">
    <div class="form-group" ng-class="{'has-error': form.title.$dirty && form.title.$invalid}">
        <label class="control-label" for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" data-ng-model="offer.title" required />
    </div>
    <div class="form-group" ng-class="{'has-error': form.customer.$dirty && form.customer.$invalid}">
        <label class="control-label" for="customer">Customer</label>
        <input type="text" class="form-control" placeholder="Enter customer" data-ng-model="offer.customer" 
               typeahead="item as item.name for item in getCustomers($viewValue)" typeahead-min-length="2" typeahead-wait-ms="100" required/>
    </div>
    <div class="form-group" ng-class="{'has-error': form.owner.$dirty && form.owner.$invalid}">
        <label class="control-label" for="owner">Owner</label>
        <input type="text" class="form-control" placeholder="Enter owner" data-ng-model="offer.owner"
               typeahead="item as item.name for item in getOwners($viewValue)" typeahead-min-length="2" typeahead-wait-ms="100" required />
    </div>

    <button class="btn" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="confirm()" ng-disabled="form.$invalid || !!!offer.customer.id || !!!offer.owner.id">Save</button>
</form>