<h3>Items</h3>

<table class="table table-condensed">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Discount %</th>
        <th>Discount</th>
        <th>Total</th>
    </tr>
    <tr ng-repeat="item in offer.items">
        <td>
            {{item.product.title}}
        </td>
        <td>
            {{item.productPrice | currency}}
        </td>
        <td>
            {{item.quantity}}
        </td>
        <td>
            {{item.itemSubtotal | currency}}
        </td>
        <td>
            {{item.discount}}
        </td>
        <td>
            {{item.discountAmount | currency}}
        </td>
        <td>{{item.itemTotal | currency}}</td>
    </tr>
    <tfoot>
        <tr>
            <td colspan="7">
                <span class="pull-right" style="font-weight: bold">
                    Items total: {{offer.subtotal || 0 | currency}}
                </span>
            </td>
        </tr>
    </tfoot>
</table>