<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <span class="draft-panel-title">
                    Totals
                </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3"><b>Subtotal</b></div>
                <div class="col-lg-offset-3">{{offer.subtotal | currency}}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Discount (%)</b></div>
                <div class="col-lg-offset-3">
                    <span>{{offer.discount || 0}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Discount</b></div>
                <div class="col-lg-offset-3">
                    {{offer.discountAmount | currency}}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Total</b></div>
                <div class="col-lg-offset-3">{{offer.total | currency}}</div>
            </div>
        </div>
    </div>
</div>