<div class="content-header">
    <div>
        <h1>Offer</h1>
        <div class="toolbar">
            <div class="btn-group">
                <button class="btn btn-success btn-lg" title="Create Order">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                </button>
                <button class="btn btn-warning btn-lg" title="Archive">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
                <button class="btn btn-primary btn-lg" title="Copy to New Offer">
                    <i class="glyphicon glyphicon-file"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li>
        <a href="/">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </li>
    <li>
        <a href="/offers">Offers</a>
    </li>
    <li class="active">
        Offer
    </li>
</ol>

<div ng-include="'/app/partials/offers/details-header.html'"></div>
<div ng-include="'/app/partials/offers/details-totals.html'"></div>
<div ng-include="'/app/partials/offers/details-items.html'"></div>