<h1>Offers</h1>

<button class="btn" ng-click="addDraft()">New Offer</button>

<br/>
<br />

<tabset>
    <tab heading="Drafts" ng-controller="DraftsCtrl" active="showDrafts">
        <div ng-include src="'/app/partials/offers/list-drafts.html'"></div>
    </tab>
    <tab heading="In progress" ng-controller="ActiveOffersCtrl" active="showActive">
        <div ng-include src="'/app/partials/offers/list-active.html'"></div>
    </tab>
    <tab heading="Completed" ng-controller="CompletedOffersCtrl" active="showCompleted">
        <div ng-include src="'/app/partials/offers/list-completed.html'"></div>
    </tab>
</tabset>