<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Owner</th>
            <th>Customer</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="offer in offers">
            <td>{{offer.title}}</td>
            <td>{{offer.ownerName}}</td>
            <td>{{offer.customerName}}</td>
            <td>{{offer.offerPrice}}</td>
        </tr>
    </tbody>
    <tfoot>
    <td colspan="5">
        <pagination boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pull-right"
                    total-items="totalItems" page="currentPage" items-per-page="pageSize">
        </pagination>
    </td>
    </tfoot>
</table>