<div class="content-header">
    <div>
        <h1>Offer (draft)</h1>
    </div>
</div>

<ol class="breadcrumb">
    <li>
        <a href="/">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </li>
    <li>
        <a href="/offers">Offers</a>
    </li>
    <li class="active">
        Offer (draft)
    </li>
</ol>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b style="font-size: 20px;">T{{draft.title}}</b>
                <button class="btn btn-sm btn-default pull-right" type="button"
                        data-toggle="tooltip"
                        data-original-title="Edit offer information">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3"><b>Created By</b></div>
                <div class="col-lg-offset-3">{{draft.ownerFullName}}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Created On</b></div>
                <div class="col-lg-offset-3">{{draft.createdOn | date:'longDate'}}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Customer</b></div>
                <div class="col-lg-offset-3">{{draft.customer.name || 'none'}}</div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <b style="font-size: 20px;">Totals</b>
                <button class="btn btn-sm btn-default pull-right" type="button"
                        data-toggle="tooltip"
                        data-original-title="Edit offer information">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-3"><b>Subtotal</b></div>
                <div class="col-lg-offset-3">{{draft.customer.name || 'none'}}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Discount (%)</b></div>
                <div class="col-lg-offset-3">{{draft.customer.name || 'none'}}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Discount</b></div>
                <div class="col-lg-offset-3">{{draft.customer.name || 'none'}}</div>
            </div>
            <div class="row">
                <div class="col-lg-3"><b>Total</b></div>
                <div class="col-lg-offset-3">{{draft.customer.name || 'none'}}</div>
            </div>
        </div>
    </div>
</div>





Items:

<table class="table table-condensed">
    <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
        <th>Discount</th>
        <th>Total</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="item in draft.items">
        <!--<td ng-switch on="!!item.id">
                <span ng-switch-when="true" editable-text="item.product" e-name="product" e-required e-form="itemForm" onaftersave="updateProductTitle(item)" 
                      e-placeholder="Search for a product" e-disabled="disabled"
                      e-typeahead="product as product.title for product in getProducts($viewValue)" e-typeahead-min-length="2" e-typeahead-wait-ms="100">
                    {{item.product.title}}
                </span>
                <span ng-switch-default editable-text="item.product" e-name="product" e-required e-form="itemForm" onaftersave="updateProductTitle(item)"
                      e-placeholder="Search for a product"
                      e-typeahead="product as product.title for product in getProducts($viewValue)" e-typeahead-min-length="2" e-typeahead-wait-ms="100">
                    {{item.product.title}}
                </span>
            </td>-->
        <td>
            <span editable-text="item.product" e-name="product" e-required e-form="itemForm" onaftersave="updateProductTitle(item)"
                  e-placeholder="Search for a product" e-editable-disabled="!!item.id"
                  e-typeahead="product as product.title for product in getProducts($viewValue)" e-typeahead-min-length="2" e-typeahead-wait-ms="100">
                {{item.product.title}}
            </span>
        </td>
        <td>
            {{item.product.price}}
        </td>
        <td>
            <span editable-number="item.quantity" e-name="quantity" e-required e-min="1" e-form="itemForm" e-class="form-control">
                {{item.quantity}}
            </span>
        </td>
        <td>
            {{item.product.price * item.quantity || 0}}
        </td>
        <td>
            <span editable-number="item.discount" e-name="discount" e-min="0" e-max="100" e-form="itemForm" e-class="form-control">
                {{item.discount}}
            </span>
        </td>
        <td>{{item.product.price * item.quantity * (1 - (item.discount || 0) / 100) || 0}}</td>
        <td>
            <form editable-form name="itemForm" ng-show="itemForm.$visible" onbeforesave="saveItem($data, item)" shown="inserted == item">
                <button type="submit" ng-disabled="itemForm.$waiting" class="btn btn-primary">Save</button>
                <button type="button" ng-disabled="itemForm.$waiting" class="btn btn-default" ng-click="itemForm.$cancel()">Cancel</button>
            </form>
            <div ng-show="!itemForm.$visible">
                <button class="btn btn-primary" ng-click="itemForm.$show()">Edit</button>
                <button class="btn btn-danger" ng-click="deleteItem($index, item)">Delete</button>
            </div>
        </td>
    </tr>
</table>