<div class="content-header">
    <div>
        <h1>Offer (draft)</h1>
        <div class="toolbar">
            <div class="btn-group">
                <button class="btn btn-success btn-lg" title="Send offer" ng-click="sendOffer()">
                    <i class="glyphicon glyphicon-send"></i>
                </button>
                <button class="btn btn-default btn-lg" title="Discard" ng-click="discardDraft()">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li>
        <a href="/">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </li>
    <li>
        <a href="/offers">Offers</a>
    </li>
    <li class="active">
        Offer (draft)
    </li>
</ol>

<div ng-include="'/app/partials/drafts/details-header.html'"></div>
<div ng-include="'/app/partials/drafts/details-totals.html'"></div>
<div ng-include="'/app/partials/drafts/details-items.html'"></div>

<script type="text/ng-template" id="sendOfferDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Send offer</h4>
            </div>
            <div class="modal-body">                
                <div><input type="text" ng-model="$parent.dt" ng-required="true" datepicker-popup class="form-control pull-right" style="width: 150px;" /></div>
                <div style="padding-top: 6px">Provide expiration date for the offer:</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" data-ng-click="confirm()">Send</button>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="draftDeleteDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Discard draft</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to discard offer draft "{{item.title}}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="cancel()">No</button>
                <button type="button" class="btn btn-danger" data-ng-click="confirm()">Yes</button>
            </div>
        </div>
    </div>
</script>