body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.content-header {
    height: 60px;
    padding-top: 5px;
    width: 100%;
}

.content-header h1 {
    margin-top: 10px;
    font-size: 28px;
    font-weight: normal;
}

.content-header .toolbar {
    float: right;
    padding: 0;
    margin-top: -50px;
    display: -webkit-flex;
    display: flex;
}

.content-header .search-form {
    width: 230px;
    margin-top: 5px;
    margin-right: 20px;
}

.content-header .btn-group .btn {
    color: #000000;
    color: rgba(0, 0, 0, 0.5);
}

/* USERS */
.section-box h2 {
     margin-top: 0;
}

.section-box h2 small {
    font-size:14px;
}

.section-box hr {
    margin-top: 0;
    margin-bottom: 5px;
    border: 0;
    border-top: 1px solid rgb(199, 199, 199);
}

.table-user-information {
    margin-bottom: 2px;
}

.table-user-information > tbody > tr {
    /*border-top: 1px solid rgb(221, 221, 221);*/
    border-top: 0;
}

.table-user-information > tbody > tr > td {
    border-top: 0;
    padding-top: 1px;
    padding-bottom: 0;
}

/* STAR RATING */

.rating{
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating li.readonly {
    cursor: default;
}

.rating .filled {
    color: #d17581;
}

/* OFFER PANELS */

.offer-panel-title {
    font-size: 20px; 
    font-weight: bold;
}

/* OVERVIEW */

.list-group-item .fa {
    font-size: 50px;
    text-align: right;
    position: absolute;
    top: 7px;
    outline: none;
}

.offer-stats .list-group-item .fa {
    right: 27px;
}

.offer-stats a {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.offer-stats .new-offer i,
.offer-stats .new-offer h4.list-group-item-heading
 {
    color: #0e76a8;
}

.offer-stats a.new-offer:hover {
    background-color: #0e76a8;
}

.offer-stats a.new-offer:hover * {
    color: white;
}

.offer-stats .won-offer i,
.offer-stats .won-offer h4.list-group-item-heading
 {
    color: #008000;
}

.offer-stats a.won-offer:hover {
    background-color: #008000;
}

.offer-stats a.won-offer:hover * {
    color: white;
}

.offer-stats .lost-offer i,
.offer-stats .lost-offer h4.list-group-item-heading
 {
    color: #e22a2a;
}

.offer-stats a.lost-offer:hover {
    background-color: #e22a2a;
}

.offer-stats a.lost-offer:hover * {
    color: white;
}

.offer-stats .to-expire-offer i,
.offer-stats .to-expire-offer h4.list-group-item-heading
 {
    color: #e2952a;
}

.offer-stats a.to-expire-offer:hover {
    background-color: #e2952a;
}

.offer-stats a.to-expire-offer:hover * {
    color: white;
}