<div class="content-header">
    <div>
        <h1>Users</h1>
        <div class="btn-group">
            <a class="btn btn-primary btn-lg" title="Add User" ng-click="addUser()">
                <i class="glyphicon glyphicon-user"></i>
            </a>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li>
        <a href="/">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </li>
    <li class="active">
        Users
    </li>
</ol>

<div class="row">
    <div class="col-md-6" data-ng-repeat="user in users">
        <div class="well well-sm">
            <div class="row">
                <div class="col-xs-3 col-md-3 text-center">
                    <img class="img-circle" alt="User"
                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100">
                </div>
                <div class="col-xs-9 col-md-9 section-box">
                    <h2>
                        {{user.name}}
                    </h2>
                    <table class="table table-condensed table-responsive table-user-information">
                        <tbody>
                            <tr>
                                <td class="text-muted">Role</td>
                                <td>{{user.role}}</td>
                            </tr>
                            <tr>
                                <td class="text-muted">E-mail</td>
                                <td>{{user.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr />
                    <div class="row rating-desc">
                        <div class="col-md-12">
                            <button class="btn btn-sm btn-primary" type="button" ng-class="{disabled: !!!user.email}"
                                    data-toggle="tooltip"
                                    data-original-title="Send message to user">
                                <i class="glyphicon glyphicon-envelope"></i>
                            </button>
                            <span class="pull-right">
                                <button class="btn btn-sm btn-warning" type="button" ng-click="editUser(user)"
                                        data-toggle="tooltip"
                                        data-original-title="Edit this user">
                                    <i class="glyphicon glyphicon-edit"></i>
                                </button>
                                <button class="btn btn-sm btn-danger" type="button" ng-click="deleteUser(user)"
                                        data-toggle="tooltip"
                                        data-original-title="Remove this user">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <pagination boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pull-right"
                total-items="totalItems" page="currentPage" items-per-page="pageSize">
    </pagination>
</div>

<script type="text/ng-template" id="userDeleteDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Delete user</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete user "{{item.name}}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="cancel()">No</button>
                <button type="button" class="btn btn-danger" data-ng-click="confirm()">Yes</button>
            </div>
        </div>
    </div>
</script>
