<h1>Users</h1>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
            <th>E-mail</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="user in users">
            <td>{{user.name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
    <tfoot>
        <td colspan="3">
            <pagination boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pull-right"
                        total-items="totalItems" page="currentPage" items-per-page="pageSize">
            </pagination>
        </td>
    </tfoot>
</table>