<div class="content-header">
    <div>
        <h1>Customers</h1>
        <div class="toolbar">
            <form class="search-form" ng-submit="search()">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" ng-model="searchText">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </form>
            <div class="btn-group">
                <a class="btn btn-primary btn-lg" title="Add User" ng-click="addCustomer()">
                    <i class="glyphicon glyphicon-plus"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<ol class="breadcrumb">
    <li>
        <a href="/">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    </li>
    <li class="active">
        Customers
    </li>
</ol>

<table class="table table-striped table-condensed table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="customer in customers">
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td><div star-rating rating-value="customer.rating" max="5" readonly="true"></div></td>
            <td>
                <a href><i class="glyphicon glyphicon-edit" data-ng-click="editCustomer(customer)"></i></a>
                <a href><i class="glyphicon glyphicon-remove" data-ng-click="deleteCustomer(customer)"></i></a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <td colspan="4">
            <pagination boundary-links="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" class="pull-right"
                        total-items="totalItems" page="currentPage" items-per-page="pageSize">
            </pagination>
        </td>
    </tfoot>
</table>

<script type="text/ng-template" id="customerDeleteDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">&times;</button>
                <h4 class="modal-title">Delete customer</h4>
            </div>
            <div class="modal-body">
                Are you sure you wish to delete customer "{{customer.name}}"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-ng-click="cancel()">No</button>
                <button type="button" class="btn btn-danger" data-ng-click="confirm()">Yes</button>
            </div>
        </div>
    </div>
</script>