<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5.1" />
        <httpRuntime targetFramework="4.5.1" />
    </system.web>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- For all requests that do not target physical files redirect to index.html. Use rewrite so that URL in browser stays the same
                     and AngularJS can then handle the routing. This is only needed for html5 style AngularJS routes (routes with hashbang work without rewrites). -->
                <rule name="RewriteToIndex" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="/index.html"/>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>